<!-- start custom analytics snippet -->

<!-- Cloudflare Web Analytics -->
<script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "1d2fabbe342d495b9689de9145de0f98"}'></script>
<!-- End Cloudflare Web Analytics -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-M5P4BCQ8RS"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-M5P4BCQ8RS');
</script>

<!-- end custom analytics snippet -->